* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#000, #161616 ,#161616, #000)
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #000;
    border-left: grey 0.3rem solid;
}

::-webkit-scrollbar-thumb {
    background: #d3cdcd;
    border-radius: 5rem;
}
/* SCROLLBAR */

header {
    width: 100%;
    height: 14%;
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
    margin-bottom: 4rem;
    
}

header a {
    text-decoration: none;
}

header a h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-shadow: 0 0 5px #0ff100,
    0 0 1rem rgb(14, 221, 66),
    0 0 2rem rgb(36, 255, 91),
    0 0 4rem rgb(45, 127, 38),
    0 0 8rem rgb(45, 127, 38),
    0 0 9rem rgb(38, 127, 38),
    0 0 10rem rgb(38, 127, 42),
    0 0 14rem rgb(48, 127, 38),
    0 0 18rem rgb(53, 127, 38);
    font-size: 3.5rem;
}

.container {
    width: 100%;
    min-height: 80%;
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
}

.container__section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-bottom: 4rem;
}

.button-main {
    background: #000;
    color: #e1e1e1;
    font-size: 2rem;
    height:50vw ;
    max-height: 10rem;
    width: 70vw;
    max-width: 27.5rem;
    border-radius: 2rem;
}

.button {
    color: #000;
    background: #e1e1e1;
    font-size: 2rem;
    height:4rem;
    width: 70vw;
    max-width: 27.5rem;
    border-radius: 1.5rem;
}

.button-dev {
    background: #000;
    color: #e1e1e1;
    font-size: 2rem;
    height:4rem;
    width: 70vw;
    max-width: 27.5rem;
    border-radius: 1.5rem;
}

.container__button--1:hover {
    background: #36b3c0;
    color: #000000;
}

.container__button--2:hover {
    background: #f70000;
    color: #000000;
}

.container__button--1:active {
    background: #0ff100;
}

.container__button--2:active {
    background: #0ff100;
}

.container__button--1 {
    border: solid 0.2rem #36b3c0;
    box-shadow: 0 0 3rem #36b3c0;
    margin-bottom: 4.5rem;
}

.container__button--2 {
    border: solid 0.2rem #ff0000;
    box-shadow: 0 0 3rem #ff0000;
    margin-bottom: 4.5rem;
}

/* Info de cursos */
.sections-titles {
    background-color: #000;
    width: 90%;
    max-height: auto;
    min-height: 20rem;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.sections-titles a {
    text-decoration: none;
}

.smoth-scrolls {
    color: #fff;
    font-size: 2rem;
    padding: 0.1rem;
    min-width: fit-content;
    align-items: center;
    justify-content:center;
}

.smoth-scrolls::before {
    content: "🔘";
}
.info__container {
    width: 100%;
    min-height: 80%;
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.info__container--main {
    background-color: #d3cdcd;
    width: 90%;
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem; 
}

.info {
    color: black;
    font-size: 2rem;
}

.main__title {
    font-weight: 600;
    font-family: sans-serif;
    color: #fff;
    font-size: 3.8rem;
    text-shadow: 0 0 5px rgb(255, 0, 0),
    0 0 1rem rgb(233, 13, 13),
    0 0 2rem rgba(252, 0, 0, 0.849),
    0 0 4rem rgb(185, 18, 18),
    0 0 8rem rgb(127, 38, 38),
    0 0 9rem rgb(165, 25, 25),
    0 0 10rem rgb(127, 38, 38),
    0 0 14rem rgb(127, 38, 38),
    0 0 18rem rgb(127, 38, 38);
}

.title {
    font-weight: 600;
    color: #0000ff;
    font-size: 2.5rem;
}

#titulo { /* esto es para un ejemplo de la pagina de HTML y css */
    color: #f00;
}

.line {
    border-top:  black dotted 0.3rem;
    width: 100%;
    height: 3rem;
}

.etiquetas::after {
    content: '>';
    font-weight:700;
}

.etiquetas::before {
    content: '<';
    font-weight:700;
}
/* Info de cursos */

/* Botones del index */
.container__button--5 {
    border: solid 0.2rem #0ff100;
    box-shadow: 0 0 3rem #0ff100;
}

.container__button--5:hover {
    background: #e1e1e1;
    color: #000000;
}

.container__button--5:active {
    background: #0ff100;
}
/* Botones del index */

footer {
    width:100%;
    height:6%;
    color: #323232;
    font: 1.5rem 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    border-top: solid 0.01rem #141212;
    display: flex;
    align-items: center;
    justify-content: center;
}